body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    margin: 0px;
    padding: 0px;
    color: rgb(25,25,25)
}

body > div {
    padding: 10px;
}

img {
    max-width: 93%;
    max-height: 93%;
    width: auto;
    height: auto;
}


.header, .footer {
    background-color: rgb(62,101,238);
}
.header{
    color: white;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0px;
    color: rgb(220,220,220);
}
.footer > div {
    width: 50%;
    padding: 0px 10px;
}
.footer > div:first-child {
    text-align: right;
    border-right: 1px solid rgb(220,220,220);
}
.footer a {
    color: rgb(220,220,220);
    text-decoration: none;
}
.footer a:hover {
    color: rgb(255,255,255);
    text-decoration: none;
}

.focusButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.focusButton > div {
    background-color: orange;
    text-align: center;
    padding: 10px 12px;
    border-radius: 5px;
    color: rgb(50,50,50);
    font-size: large;
    font-weight: bold;
    box-shadow: 0 0 5px rgb(50,50,50);
    cursor: pointer;
}

.button {
    background-color: rgb(62,101,238);
    text-align: center;
    padding: 10px 12px;
    border-radius: 5px;
    color: white;
    font-size: large;
    box-shadow: 0 0 5px rgb(50,50,50);
    cursor: pointer;
}