---
---

@charset "UTF-8";

.wind-barbs img {
    height: 80px;
}

.wind-barbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

.wind-barbs>div {
    text-align: center;
}

.wind-barbs>div>div {
    margin: 10px;
}